.note-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; // make sure the parent is full screen
  height: 100%; // so that the content will center correctly
}

.center {
  background: url(./note-card.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 450px;
  max-height: 450px;
}

.vertical-center {
  display: flex;
  align-items: center;
}
