.btn-add-skill {
  color: green;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100% !important;
  height: 45px;
}

.card-add-skill {
  margin: auto;
  margin-top: 9px;
  width: 80%;
}
