.skill-form {
  margin: auto !important;
  width: 65%;
  .form-group {
    padding-bottom: 20px !important;
  }

  .same-line {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
