.centered-modal {
  // width: 80%;

  // margin: auto;
  // align-self: center;
  background: lightgrey;
  .modal-title {
    display: flex;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
  }

  .body-text {
    display: flex;
    // height: 10%;
    padding: 5% 10% 0% 10%;
    align-items: center;
    justify-content: center;
  }

  .button {
    display: flex;
    // height: 10%;
    // padding: 5% 10% 2% 10%;
    align-items: center;
    justify-content: center;
  }
}
