.logo {
  margin-top: 15px;
  height: 128px;
  width: auto;
  background: url(../../../static/images/role-playing.png) no-repeat center 0;
}

.inputs {
  width: 65%;
  margin: auto;
}

.login-reg-wrapper {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-reg-btn {
  width: 40%;
}

.filled {
  height: 100%;
}
